@model FullStackTechTest.Models.Specialities.IndexViewModel

@{
    ViewData["Title"] = "Specialities";
}

<div class="container">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var speciality in Model.SpecialityList)
        {
            <tr class="clickable-row pointer-event" data-href="@Url.Action("Details", new { id = speciality.Id})">
                <td>@speciality.Id</td>
                <td>@speciality.Name</td>
            </tr>
        }
        </tbody>
    </table>
</div>